<!doctype html>
<html>
    <head>
        <script src="util.js"></script>
    </head>
    <body>
        {% if token %}
        <h1> Congratulations! you have successfully authenticated and your token is: {{ token }} </h1>
        {% else %}
        <h1> Something went wrong :( </h1>
        {% endif %}

        <h2> Test the following functions of the api! </h2>
        <button type="button" onclick="action('products')">Get car id</button>
        <button type="button" onclick="action('time')">Get time estimate</button>
        <button type="button" onclick="action('price')">Get price estimate</button>
        <button type="button" onclick="action('request')">Request a car</button>
        <button type="button" onclick="action('cancel')">Cancel a request</button>

        <p> {{ info }} </p>
    </body>
</html>
